@import 'https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&family=Righteous&display=swap';

.reem-kufi {
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.righteous {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}


html {
    // background-repeat: no-repeat;
    height: 100%;
}

html.light {
    background: #ffffff;
    background: radial-gradient(rgb(205, 204, 255), #ffffff);




}

html.dark {
    background: #000000;
    background: radial-gradient(#2d2d41, #000);
}



.blur-blob {
    filter: blur(60px);
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.075, .82, .165, 1);
    border-radius: 9999px;
    z-index: -10;

}



.awesome-shadow {
    box-shadow: inset 0 0 100px 20px rgba(255, 255, 255, 0.2);
}